~$Notes.docx
Eclipse_WS\.metadata
D:\synechron_07_12_2020\Eclipse_WS\JavaTraining\.settings
D:\synechron_07_12_2020\Eclipse_WS\JavaTraining\.classpath
D:\synechron_07_12_2020\Eclipse_WS\JavaTraining\.project
